@(pages: Seq[services.ServicePageView])

@main("Service Flow View") {
  <a href="/" class="govuk-back-link">Back</a>
  <h1 class="govuk-heading-l">Service Flow View</h1>
  <p class="govuk-body">Source: <code>service/routes.json</code></p>

  <table class="govuk-table">
    <thead class="govuk-table__head">
      <tr class="govuk-table__row">
        <th class="govuk-table__header">Page Id</th>
        <th class="govuk-table__header">Title</th>
        <th class="govuk-table__header">Transitions</th>
      </tr>
    </thead>
    <tbody class="govuk-table__body">
      @for(page <- pages) {
        <tr class="govuk-table__row">
          <td class="govuk-table__cell">@page.id</td>
          <td class="govuk-table__cell">@page.title</td>
          <td class="govuk-table__cell">
            @for((k, v) <- page.transitions) {
              <div><code>@k</code> -> <code>@v</code></div>
            }
          </td>
        </tr>
      }
    </tbody>
  </table>
}
